<main class="table" id="customers_table">
    <section class="table__header">
        <h1>All Employees</h1>
        <div class="table-top-buttons">
            <div class="new-user">
                <i class="fal fa-user-plus"></i>
            </div>
            <div class="export__file">
                
                <label for="export-file" class="export__file-btn" title="Export File"></label>
                <input type="checkbox" id="export-file">
                <div class="export__file-options">
                    <label>Export As &nbsp; &#10140;</label>
                    <label for="export-file" id="toPDF">PDF <img src="assets/images/pdf.png" alt=""></label>
                    <label for="export-file" id="toJSON">JSON <img src="assets/images/json.png" alt=""></label>
                    <label for="export-file" id="toCSV">CSV <img src="assets/images/csv.png" alt=""></label>
                    <label for="export-file" id="toEXCEL">EXCEL <img src="assets/images/excel.png" alt=""></label>
                </div>
            </div>
        </div>
    </section>
    <section class="filters">
        <label for="institute">Type of Institute: </label>
        <select name='institute' class="form-control">
            <option value="">Select Type of Institute</option>
            <option value="News Paper">News Paper</option>
            <option value="Social Media">Social Media</option>
            <option value="Other">Other</option>
         </select>
         <label for="RO">RO: </label>
        <select name='RO' class="form-control">
            <option value="">Select RO</option>
            <option value="News Paper">News Paper</option>
            <option value="Social Media">Social Media</option>
            <option value="Other">Other</option>
         </select>
         <label for="JNV">JNV: </label>
         <select name='JNV' class="form-control">
             <option value="">Select JNV</option>
             <option value="News Paper">News Paper</option>
             <option value="Social Media">Social Media</option>
             <option value="Other">Other</option>
          </select>
          <label for="JNV">Designation: </label>
         <select name='JNV' class="form-control">
             <option value="">Select Designation</option>
             <option value="News Paper">News Paper</option>
             <option value="Social Media">Social Media</option>
             <option value="Other">Other</option>
          </select>
    </section>
    <section class="table__body">
        <table>
            <thead>
                <tr>
                    <th> Id <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Employee Name <span class="icon-arrow">&UpArrow;</span></th>
                    <th> E-Mail <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Role <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Designation <span class="icon-arrow">&UpArrow;</span></th>
                    <th> JNV <span class="icon-arrow">&UpArrow;</span></th>
                    <th> RO <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Contact <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Actions <span class="icon-arrow">&UpArrow;</span></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of allUsers">
                    <td> {{user.id}} </td>
                    <td> {{user.name}}</td>
                    <td> {{user.email}} </td>
                    <!-- <td> <span *ngFor="let role of user.roles">{{role.name}}, </span></td> -->
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><i class="fal fa-edit action-icon"></i> <i class="fal fa-trash action-icon"></i></td>

                </tr>
            </tbody>
        </table>
    </section>
</main>